<div class="row">
  <div class="col-10">
    <app-shopping-list-edit
    ></app-shopping-list-edit>
    <hr>
    <p>The List</p>
   <div *ngIf="ingredients.length > 0; else showMsg">
    <ul class="list-group">
      <a href="#" class="list-group-item"
      style="cursor: pointer"
      *ngFor="let ingredient of ingredients"
      >
      {{ingredient.name}}  ({{ingredient.amount}})
      </a>
    </ul>
  </div>
    <ng-template #showMsg>

        <h3> No Shopping List Items Added yet </h3>

    </ng-template>

  </div>
</div>
